* { 
	padding:0; margin: 0 
}

.searchBody {
	width: 100%;
	margin: auto;
	margin-top: 10px;
}
.resultsBody h1 {
	font-size: 60px;
	color: white;

}

.searchBody input {
	
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	border-width: 0px;

}

.formContainer {
	clear:both;
	font-family: 'Dosis', sans-serif;
 	width: 90%;
 	text-align: center;
 	background-color: orange;
 	border-radius: 10px;
 	top: 2%;
 	left: 2%;
}

.searchButton {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: orange;
	padding: 5px;
	border-radius: 10px;
	border-width: 0px;
	cursor: pointer;
}

.suggestBrand {
	color: white;
	text-decoration: underline;
	position: fixed;
	bottom: 5%;
	/*padding: 0 11%;*/
}

.suggestBrand a{
	color: white;
	text-decoration: white;
}

.itemsContainer {
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	border-radius: 10px;
	right: 2%;
	top: 2%;
	overflow-y: scroll;
	margin: auto;
	height: 250px;
}
/*IN MEMORY OF JAMES D. VERA WHOSE HEART AND SOUL WAS POURED IN EVERY PROJECT HE HELPED CREATE
WITH LOVE, EVERYONE*/
.jamesDiv {
	width: 1000%;
	white-space: nowrap;
}

.containerDiv {
	padding: 30px;
}

.singleItem {
	float: left;
	font-family: 'Dosis', sans-serif;
	display: inline-block;
	border-style: solid;
	border-width: 3px;
	border-color: orange;
	border-radius: 10px;
	padding: 40px;
	margin: 30px;
	width: 100px;
	height: 100px;
}

.singleItem img {
	width: 65px;
	height: 65px;
}

.no-results {
	margin: 30px auto;
	float: none;
}